In [83]:
import json
import requests
from pprint import pprint
import pandas as pd
import os 
import csv
import numpy as np

In [84]:
parameters={'parkInformation': 'parkCode, tagsAll, subject'}
output_data_file = "Project_2/events.csv"

In [85]:
headers= {'Content-Type': 'application/json'}

In [86]:
url= 'https://developer.nps.gov/api/v1/activities/parks?id='+ API_KEY

In [87]:
response=requests.post(url, headers=headers, params=parameters)

In [88]:
np_activities = requests.get(url).json()

In [89]:
len(np_activities)

4

In [92]:
list(np_activities.keys())

['total', 'limit', 'start', 'data']

In [93]:
activities_array= np.array(np_activities)

In [108]:
del np_activities['total']

In [109]:
del np_activities['limit']

In [110]:
del np_activities['start']

In [111]:
activities_dt= pd.DataFrame(np_activities)

In [112]:
activities_dt.to_csv('activities_dt.csv')

In [113]:
activities_dt.head()

                                                data
0  {'id': '09DF0950-D319-4557-A57E-04CD2F63FF42',...
1  {'id': '13A57703-BB1A-41A2-94B8-53B692EB7238',...
2  {'id': '5F723BAD-7359-48FC-98FA-631592256E35',...
3  {'id': '7CE6E935-F839-4FEC-A63E-052B1DEF39D2',...
4  {'id': '071BA73C-1D3C-46D4-A53C-00D5602F7F0E',...

In [78]:
list(events_dt.keys())

['data']